<!doctype html>
<html>
<head>
	<title>Rental Seeking Application - ALPHA - 361 Project</title>
	
</head>
<body>
	<div>
		<a href="/">Home</a>
		<a href="/view-listings">Listings</a>
		<a href="/tenants">Tenants</a>
		<a href="/landlords">Landlords</a>
	</div>

	{{{body}}}
</body>
</html>