<html>
  <div style="margin: auto; padding: 100px;">
    <h2>About Us</h2>

<div>
We are the leading real estate and rental marketplace dedicated to empowering consumers with data, inspiration and knowledge around the place they call home, and connecting them with the best local professionals who can help.</div></br>

<div>We serves the full lifecycle of owning and living in a home: buying, selling, renting, financing, remodeling and more. It starts with our living database of more than 110 million U.S. homes - including homes for sale, homes for rent and homes not currently on the market, as well as home values, Rent estimates and other home-related information. </div></br>

<div>We launched in 2018 and are headquartered in Seattle.</div>

</div>
</html>