<h2>Welcome to the Rent Seeking Application</h2>

<h2>Available Pages</h2>

<h3><a href="/view-listings">View Listings</a></h3>

<h3><a href="/tenant">For Tenants</a></h3>

<h3><a href="/landlord">For Landlords</a></h3>

