<div class="jumbotron text-center">
  <h1>Rent Seeking Application</h1>
  <br /> 
  <form method="post" action="/view-listings" method="post">
    <label style="font-size:20px">Enter Zipcode: <input type="number" size="50" name="zipcode" /></label>
    <input type="submit" value="Search" />
  </form> 
  <br />
</div>

